<div class="container">
    <form action="mail/data" method ="POST">
      <div class="form-group">
         <label for="exampleInputEmail1">보내는 사람</label>
         <input type="email" name= "text1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
         <small id="emailHelp" class="form-text text-muted">보내는 사람의 메일 주소를 입력해 주세요.</small>
      </div>
      <div class="form-group">
         <label for="exampleInputEmail1">받는 사람</label>
         <input type="email"  name= "text2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
         <small id="emailHelp" class="form-text text-muted">받는 사람의 메일 주소를 입력해 주세요.</small>
      </div>
         <div class="form-group">
         <label for="formGroupExampleInput">제목</label>
         <input type="text"  name= "text3" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
         <label for="exampleFormControlTextarea1">내용</label>
         <textarea class="form-control"  name= "text4" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>